<section class="container-about">
    <section class="container-atelier">
        <section class="container-text">
            <div>
                <div [innerHTML]="atelierPt"></div>
    
                <span>//</span>
    
                <div [innerHTML]="atelierEn"></div>
            </div>
        </section>
    
        <div class="container-image">
            <img [src]="displayImage" alt="imagem">
        </div>
    
        
    </section>

    <div class="pagination">
        <a routerLink="arquitects">❯</a>
    </div>
    
</section>

