.container {
    margin-top: 3%;
    margin-bottom: 15%;
    text-align: center;
    width: 80%;

    h1 {
        text-align: center;
        margin-top: 4%;
        color: #525252;
        text-transform: lowercase;
    }

    .container-stats {
        text-align: center;
        justify-content: center;
        margin: 3% 0;

        .container-p {
            border-radius: 5px;
            background-color: rgba( 82, 82, 82, .8);
            color: #ebe9e9;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            
            width: 220px;
            height: 100px;
            
            p {
                align-items: center;
                font-size: 1.2rem;
                text-transform: lowercase;

                span {
                    font-size: 1.8rem;
                    margin-left: 16px;
                    
                }
            }
        
        }
    }

    .container-grid {
        padding: 4% 0;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fill, 220px);
        grid-template-rows: repeat(auto-fill, 220px);
        justify-content: space-between;
        align-items: center;
        width: 80%;
        
        .project {
            display: grid;

            button {
                width: 220px;
                height: 220px;
                padding: 0;
                background: none;
                border: 1px solid #525252;
                border-radius: 5px;
                cursor: auto;
                text-transform: lowercase;

                img {
                    width: 212px;
                }

                div {
                    align-self: end;
                
                    h2 {
                        margin-top: 20px;
                        font-size: 18px;
                        font-weight: normal;
                        text-transform: lowercase;
                
                    }
                
                    p{
                        margin-top: 5px;
                        text-transform: lowercase;
                    }
                
                }
            }
        }

    }   
}

@media screen and (min-width: 250px) and (max-width: 750px) {
    .container {
        margin-top: 15%;
        margin-bottom: 40%;

        .container-stats {
            margin-bottom: 15px;
            
            .container-p {
                width: 185px;
                height: 90px;
            }

        }

        .container-grid {
            justify-content: space-evenly;
        }
    }

}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
    .container {

        .container-stats {

            .container-p {
                width: 185px;
                height: 90px;
            }

        }

        .container-grid {
            justify-content: space-evenly;
        }
    }

}
@media only screen and (min-width: 1025px) and (max-width: 1499px) {
    .container {
        .container-stats {

            .container-p {
                width: 185px;
                height: 90px;
            }

        }
    }

}