<section class="container-about">
    <section class="container-architects">
        <section class="container-text">
            <div>
                <div [innerHTML]="arqRita"></div>
    
                <span>//</span>
    
                <div [innerHTML]="arqAfonso"></div>
            </div>
        </section>
    
        <div class="container-image">
            <img [src]="displayImage" alt="imagem">
        </div>
    </section>
    
    <div class="pagination">
          <a routerLink="/about">❮</a>
    </div>

</section>


